.questionBox{
    /* border: 0.1px solid #E1D9D1; */
    background-color: #f5f5f5;
    box-shadow: 0.2px 5px 5px gray;
     margin: 1rem auto;
     border-radius: 5px;
     padding: 0.5rem 2rem;
     width: 50vw;
 }

 .rightButton{
    float: right;
}

.answerBox{
    /* border: 2px solid gray; */
    border-radius: 5px;
    margin: 1rem 3rem;
}