/* .row_1{
    margin-left: 15rem;
    margin-right: 1rem;
}

.row_2{
    margin-left: 15rem;
    margin-right: 1rem;
}

Button{
    margin-left: 15rem;
}

.table table-striped table-hover table-bordered{
    margin-left: 15rem;
}

 */

 .format{
    padding-left: 15rem;
    padding-top: 2rem;
    padding-right: 2rem;
 }


h1{
    padding-left: 15rem;
    padding-top: 2rem;;
}

.mycontainer{
    padding-left:15rem;
}